@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.leaflet-marker-icon {
  border-radius: 50% !important; /* Membuat ikon bulat */
  overflow: hidden;
  border: 2px solid white; /* Tambahkan border putih untuk efek rapi */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); /* Efek bayangan */
}
